.crypted-input {
  width: -webkit-fill-available;
  margin: 0 72px;
  height: 30px;
  border: 1px solid var(--colorNeutralStroke2);
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  border-radius: 10px;
  padding: 6px;
}